---
layout: default
---
<!-- permalink: /home/ -->

<div class="text-center col-xs-12 section">
    <div class="jumbotron project-header"><div class="row">
      <div class="col-lg-offset-4 col-lg-8 col-md-offset-2 col-md-10 col-xs-12">
        <p class="lead text-right">
            Software Engineering student at Universidad de Zaragoza.
        </p>
        <p class="normal-text text-right">
            I am always trying to learn new things, experimenting on them and
            developing prototypes.
            Here you can take a look at some of the little projects I do in my
            spare time. Hope you find them interesting!
        </p>

    </div>
    </div></div>

    <h2 class="section-header"> My Projects </h2>

    {% for item in site.data.projects %}
        {% include project.html project=item %}
    {% endfor %}

</div>
