<div class="col-xs-12 section">

    <div class="jumbotron">

      <div class="row hidden-lg"><div class="col-xs-12">
          <p class="lead">
              Software, technology, videogames, DIY stuff, music and beer :)
          </p>
      </div></div>

      <div class="row">
        <div class="col-lg-8 col-md-7 col-xs-12">
          <p class="lead visible-lg">
              Software, technology, videogames, DIY stuff, music and beer :)
          </p>
          <p class="normal-text">
              Hi there! My name is Adrián Moreno and I am a Software Engineering
              from Zaragoza, a city from North-East Spain.
          </p>
          <p class="normal-text cloud-paragraph hidden-xs hidden-sm">
              In my spare time I like to develop little projects and mess with
              DIY stuff. I am very intrested in software development and
              software architecture, as well as web technologies, programming
              languages and game development.
          </p>
        </div>

        <div class="tag-cloud col-lg-4 col-md-5 col-xs-12">
          <img class="img-responsive" src="../../img/cloud.png"></img>
        </div>

        <div class="col-xs-12 hidden-lg hidden-md">
          <p class="normal-text cloud-paragraph">
              In my spare time I like to develop little projects and mess with
              DIY stuff. I am very intrested in software development and
              software architecture, as well as web technologies, programming
              languages and game development.
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <h2 class="section-header text-center"> Some facts about me</h2>
      <!--<p class="col-md-4 col-xs-12 col-sm-6 fact" ng-repeat="fact in facts">-->
          <!--<strong>{{fact.title}}</strong>{{fact.body}}-->
      <!--</p>-->
    <!--</div>-->
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I prefer working during the night.</strong> I can perfectly stay
        awake all night long coding and then sleep in the morning, but I have to
        force myself to follow regular human hours.
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I don't usually work in complete silence.</strong> I like to work
        while listening to music, but sometimes I just want some noise around me.
        It helps me to get focused on what I'm doing.
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I love to work wity my Raspberry PI.</strong> Since my laptop
        died some time ago but I still need to code when I'm not at home, I do
        a lot of programming directly on my Raspberry PI from an android tablet
        over SSH. It can be tough sometimes, but I find it pretty interesting
        (and even funny).
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I was interested in game development even before I knew how to
        code.</strong> I used to invent tabletop and card games with my friends
        in high school. I tend to start a lot of projects, but I finish few of
        them.
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
          <strong>I have always too many projects in my head</strong>, from
          software projects to DIY stuff, so I have to use tools to keep them
          organized and be able to accomplish them (or, at least, some of them).
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I love using vim. </strong>I am far from being a vim power user
        or anything like that, but I feel quite comfortable with it and I find
        its way of working really interesting. Now I have become an adicted
        to 'hjkl' and I try to use it everywhere :).
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I love walking in nature</strong>, especially in quiet places
        where I can be all alone. When I'm exhausted I like to go to a little
        forest in a park near college.
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I'd rather live in a small town in the mountains</strong>
        near nature than in a big city (if I could choose), but it should be a
        town with a decent internet connection! :P
      </p>
      <p class="col-md-4 col-xs-12 col-sm-6 fact">
        <strong>I also play the guitar</strong>, but I'm always so busy that I
        can't practice as much as I should. I have been in some music groups with
        my friends. I play mainly rock and metal music \m/.
      </p>
    </div>
        <!--<li style="margin-bottom: 16px;">-->
            <!--I have always a lot of projects in my head, from software projects-->
            <!--to DIY stuff, so I have to use tools to keep them organized and be-->
            <!--able to accomplish them (well, at least some of them).-->
        <!--</li>-->
        <!--<li>-->
            <!--The longest time I have stayed awake is 23 hours. We had a deadline-->
            <!--approaching and an application that had to be almost entirely-->
            <!--rewritten.-->
        <!--</li>-->

    <div class="row">
      <h2 class="section-header text-center"> Why this site? </h2>
      <p class="fact">
          When I started developing web applications, I thought it could be great
          being able to host them, so people could play around with them. I
          started using GitHub pages, but since they don't give you access to a
          backend, I decided to buy a Raspberry PI 2 and host my backends there.
          After a bunch of hours in front of the command line interpreter, I
          managed to set up a web server in this little beast. Then I thought I
          needed a home page where I could track all my projects, so I built this
          site :D.
          <!--<br>-->
          <!--From then on, I've been working more and more with this little beast-->
          <!--as a web server, a git server and, since my laptop died, as a-->
          <!--remote development machine (via ssh with my tablet). -->
          <!--and it allows me to mess with virtual machines or linux installations on my-->
          <!--desktop. It can be though sometimes, but I find it quite interesting-->
          <!--and funny :).-->
      </p>
    </div>

</div>
