<div class="text-center col-xs-12 section" style="margin-top: 23px;">
    <div class="jumbotron project-header"><div class="row">
      <div class="col-lg-8 col-md-9">
        <p class="lead">
            Software Engineering student at Universidad de Zaragoza.
        </p>
        <p class="normal-text">
            Hi there! I'm Adrián, a software engineering student who loves
            software development, technology, videogames and music.
        </p>
      </div>
    </div></div>

    <p class="lead">
    </p>
    <p class="normal-text">
        This is my personal homepage and the home of some of my projects.
        Here you can find some information about me and the stuff I develop
        in my spare time. Take a look around!

        <a href="https://github.com/Adriem" target="_blank"
           class="btn btn-default btn-github btn-social">
            <span class="fa fa-github fa-lg"></span>
        </a>

        <a href="https://twitter.com/ClockworkAdriem" target="_blank"
           class="btn btn-primary btn-twitter btn-social">
            <span class="fa fa-twitter fa-lg"></span>
        </a>

        <a href="https://github.com/Adriem" target="_blank"
           class="btn btn-primary btn-linkedin btn-social">
            <span class="fa fa-linkedin fa-lg"></span>
        </a>
    </p>

    <div class="jumbotron"><div class="row">
      <div class="col-lg-8 col-md-9">
      </div>
    </div></div>

  <!--<div class="row">


    <div class="col-sm-8 col-sm-offset-2">
      <p class="lead text-center" style="margin-top: 30px;">
          Hi there! I'm Adrian, a software developer and software engineering
          student, welcome to my workshop :D<br>
          This is my personal web page and the home of some of my
          little web projects.
          <br><br>
          <strong><a ui-sref="projects">See my projects!</a></strong>
          <br><br>
          You can also check <a href="https://github.com/Adriem">my GitHub page</a>
          or take a look at my contact info in the sidebar.
      </p>
  </div></div>-->
</div>
