<div class="col-xs-12 text-left project" ng-class="{ 'bottom-separator' : $last }">

    <h4 class="visible-xs text-center">
        <a ng-href="{{project.url}}" target="_blank">{{project.name}}</a>
    </h4>

    <div class="pic col-sm-4 col-xs-10 col-xs-offset-1">
        <a ng-href="{{project.url}}" target="_blank">
            <img ng-src="{{project.pic}}" class="img-responsive"
                 alt="Project miniature">
        </a>
    </div>

    <div class="col-sm-5 hidden-xs">

        <h4><a ng-href="{{project.url}}" target="_blank">
            {{project.name}}
        </a></h4>

        <p class="normal-text" style="">{{project.description}}</p>

        <h6>Code: <a ng-href="{{project.code}}" target="_blank">
            {{project.code}}
        </a></h6>

        <h6>
            Tags:
            <span class="label label-default" ng-repeat="tag in project.tags">
                {{tag}}
            </span>
        </h6>

    </div>

    <div class="col-xs-12 visible-xs text-center">

        <p class="normal-text" style="">{{project.description}}</p>

        <h6>Code: <a ng-href="{{project.code}}" target="_blank">
            {{project.code}}
        </a></h6>

        <h6>
            Tags:
            <span class="label label-default" ng-repeat="tag in project.tags">
                {{tag}}
            </span>
        </h6>

    </div>

</div>