<div class="container-fluid text-center" id="developer-section">

    <h4>Adrián Moreno</h4>

    <img src="img/avatar.jpg" class="img-circle img-responsive">

    <p class="normal-text">
        Software engineering student at Universidad de Zaragoza.<br>
        Technology, videogames, heavy metal, nature and beer lover :)
    </p>

    <!--<p class="lead"><strong>email: <a href="mailto:admoreno@outlook.com">admoreno@outlook.com</a></strong></p>-->
    <!--<p class="lead"><strong>github: <a href="https://github.com/Adriem">github.com/Adriem</a></strong></p>-->
    <p class="social-media lead">
        <strong>
            <span class="fa fa-envelope"></span>
            <a href="mailto:admoreno@outlook.com">admoreno@outlook.com</a>
        </strong>
        <br>
        <strong>
            <span class="fa fa-github fa-lg"></span>
            <a href="https://github.com/Adriem">github.com/Adriem</a>
        </strong>
        <br>
        <strong>
            <span class="fa fa-twitter fa-lg"></span>
            <a href="https://twitter.com/ClockworkAdriem">@ClockworkAdriem</a>
        </strong>
    </p>

    <!--<h5>Social media</h5>-->

    <!--<a href="https://github.com/Adriem" target="_blank"-->
       <!--class="btn btn-default btn-github btn-social">-->
        <!--<span class="fa fa-github fa-lg"></span>-->
    <!--</a>-->

    <!--<a href="https://twitter.com/ClockworkAdriem" target="_blank"-->
       <!--class="btn btn-primary btn-twitter btn-social">-->
        <!--<span class="fa fa-twitter fa-lg"></span>-->
    <!--</a>-->

    <!--<a href="https://github.com/Adriem" target="_blank"-->
       <!--class="btn btn-primary btn-linkedin btn-social">-->
        <!--<span class="fa fa-linkedin fa-lg"></span>-->
    <!--</a>-->

</div>