{% assign sections = site.data[page.language].navigation %}
{% assign footer_data = site.data[page.language].footer %}

<div id="footer">
  <div class="container">

    <div class="row">
      <ul class="nav nav-tabs">
        <li>
          <a class="page-link" href="#header">{{ footer_data.back_to_top }}</a>
        </li>
      </ul>
    </div>

    <div class="row footer-main">
      <h2>{{ site.title }}</h2>
      <ul class="nav nav-tabs">
        {% for section in sections %}
          {% if section[1].footer %}

            <!-- calculate element class -->
            {% if section[1].url and page.url == section[1].url %}
              {% assign elem_class = 'active' %}
            {% endif %}

            <!-- calculate element url -->
            {% if section[1].url and page.url != section[1].url %}
              {% assign elem_url = section[1].url | prepend: site.github.url %}
            {% else %}
              {% assign elem_url = section[1].anchor %}
            {% endif %}

            <li class="{{ elem_class }}">
              <a href="{{ elem_url }}">
                {{ section[1].label }}
              </a>
            </li>

            {% assign elem_class = nil %}
            {% assign elem_url = nil %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="row text-center" id="copy-notice">
        <p>{{ footer_data.handcrafted_notice }}&nbsp;|&nbsp;{{ site.copyright }}</p>
    </div>

  </div>
</div>

{% assign sections = nil %}
{% assign footer_data = nil %}
