{% assign sections = site.data[page.language].navigation %}
{% assign navContent = site.data[page.language].header %}

<div class="navbar navbar--expanded" id="navbar">
  <div class="container">

    <nav class="navbar__links navbar__tabs">
      {% for section in sections %}
        {% if section[1].header %}

          <!-- calculate element class -->
          {% assign elem_class = section[1].align | append: '-align'%}
          {% if section[1].url and page.url == section[1].url %}
            {% assign elem_class = elem_class | append: ' active ' %}
          {% endif %}

          <!-- calculate element url -->
          {% if section[1].url and page.url != section[1].url %}
            {% assign elem_url = section[1].url | prepend: site.github.url %}
          {% else %}
            {% assign elem_url = section[1].anchor %}
          {% endif %}

          <a class="navbar__link {{ elem_class }}" href="{{ elem_url }}">
            {{ section[1].label }}
          </a>

          {% assign elem_class = nil %}
          {% assign elem_url = nil %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="navbar__brand">
        <h2 class="navbar__title">{{ navContent.title }}</h2>
        <!-- <img class="brand__image" -->
             <!-- src="{{ navContent.avatar | prepend: '/assets/img/' }}"> -->
        <div class="navbar__links navbar__social navbar--expanded-only">
          <a class="navbar__link">github</a>
          <a class="navbar__link">twitter</a>
          <a class="navbar__link">linked in</a>
          <a class="navbar__link">instagram</a>
        </div>
    </div>

  </div>
</div>

{% assign sections = nil %}
{% assign navContent = nil %}
