{% assign sections = site.data[page.language].navigation %}
{% assign social = site.data[page.language].social %}
{% assign navContent = site.data[page.language].header %}

<div class="navbar navbar--expanded" id="navbar">
  <div class="container">

    <nav class="navbar__links navbar__tabs">
      {% for section in sections %}
        {% if section[1].header %}

          <!-- calculate element class -->
          {% assign elem_class = section[1].align | append: '-align'%}
          {% if section[1].url and page.url == section[1].url %}
            {% assign elem_class = elem_class | append: ' active ' %}
          {% endif %}

          <!-- calculate element url -->
          {% if section[1].url and page.url != section[1].url %}
            {% assign elem_url = section[1].url | prepend: site.github.url %}
          {% else %}
            {% assign elem_url = section[1].anchor %}
          {% endif %}

          <a class="navbar__link {{ elem_class }}" href="{{ elem_url }}">
            {{ section[1].label }}
          </a>

          {% assign elem_class = nil %}
          {% assign elem_url = nil %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="navbar__brand"
         style="background-image:url('{{ navContent.avatar | prepend: '/assets/img/' | prepend: site.baseUrl }}')">
        <h2 class="navbar__title">
          {{ navContent.title }}
        </h2>
        <div class="navbar__links navbar__social navbar--expanded-only">
          {% for link in social.links %}
            <a class="navbar__link" href="{{ link.url }}">{{ link.text }}</a>
            <!-- <a class="navbar__link" href="{{ link.url }}">{{ link.icon }}</a> -->
            <!-- <a class="navbar__link" href="{{ link.url }}">{{ link.icon }}&nbsp;{{ link.text }}</a> -->
          {% endfor %}
        </div>
    </div>

    <a class="navbar__scroll-arrow navbar--expanded-only">
      <i class="fa fa-lg fa-angle-down"></i>
    </a>
  </div>
</div>

{% assign sections = nil %}
{% assign social = nil %}
{% assign navContent = nil %}
