$fact-width: 350px;
$fact-gutter: 40px;

.fact-list { @include grid($fact-width, $fact-gutter) }
.fact {
  @include screen-desktop { font: $regular-section-text-font--desktop; }
  @include screen-mobile { font: $regular-section-text-font--mobile; }
  @include grid-element($fact-width, $fact-gutter);

  &.double-width {
    @include grid-element($fact-width, $fact-gutter, 2);
    .regular-text { @include paragraph(2 * $fact-width + $fact-gutter, 0) }
  }

  .fact-lead {
      text-transform: lowercase;
      display: block;
      font-size: 2rem;
      color: #000;
  }
  .regular-text { @include paragraph($fact-width, 0) }
}
