

/*#main-content {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*padding: 0px;*/
    /*/!*width:100%;*!/*/
    /*/!*margin-top: 70px;*!/*/
/*}*/

.normal-text {
    font-size: 12pt;
}
@media(max-width: 767px) {
    .lead {
        font-size: 13pt;
    }
}

.btn-sidebar {
    background: none;
    border: none;
    color: #444;
    font-size: 15pt;
    position: absolute;
    z-index: 10000000;
    top: 16px;
    left: 16px;
}

.navbar-toggle {
    border:0px;
    float:left;
    margin:0;
    display: inline-block; /*UNCOMMENT FOR THE TOGGLE TO BE ALWAYS VISIBLE*/
}

.navbar-toggle * {
    background-color: #444;
}

.label {
    margin-left: 2px;
    margin-right: 2px;
}
