<div class="text-justify col-lg-8 col-lg-offset-2">

    <h3 class="text-center">About Adriem</h3>
    <p class="normal-text">
        Hello, and thank you for checking this page! I am Adrián Moreno, a
        Software Engineering student at Universidad de Zaragoza and software
        developer in my spare time. I love to experiment with all the things I
        learn developing little prototypes, which I consider is the most
        efficient way to really learn a technology.
    </p>
    <p class="normal-text">
        <!--I am a very curious person, so I am always trying to learn new things
        aside the contents I learn in classroom.--> I'm really interested in
        software architecture and web development, specially in the front-end
        (but also in the backend too). I am also interested in mobile
        applications, system administration and game development.
    </p>
    <h5>My favourite languages are:</h5>
    <ul class="normal-text">
        <li><strong>HTML5</strong></li>
        <li><strong>CSS3</strong></li>
        <li><strong>Coffeescript</strong> (I it use as much as I can in
            replacement of JS)</li>
        <li><strong>Javascript</strong></li>
        <li><strong>Java</strong> (Okay, this one might not be my favourite, but I have a very vast experience using it)</li>
        <li><strong>Bash/Shell</strong></li>
    </ul>
    <p class="normal-text">
        But I have also worked with other languages like C, Haskell, Erlang and
        even ARM Assembly!
    </p>
    <h5>And these are the frameworks and tools I mostly use:</h5>
    <ul class="normal-text">
        <li><strong>Bootstrap 3</strong></li>
        <li><strong>AngularJS</strong></li>
        <li><strong>node.js</strong></li>
        <li><strong>express.js</strong></li>
        <li><strong>gulp.js</strong></li>
        <li><strong>Apache Tomcat</strong></li> (When I have to deal with Java backends)
        <li><strong>MySQL, Oracle SQLPlus</strong></li>
        <li><strong>MongoDB + mongoose.js</strong> (I'm still quite a noob with these two, but that's just a matter of time :P)</li>
    </ul>
    <p class="normal-text">
        When designing a web interface, I always try to follow responsive design
        guidelines and KISS philosophy to keep an intuitive and simple to use
        user interface (Keep It Simple, Stupid!). I like minimalist, simple and
        clean interfaces, and I want the experience to be the best in all kinds
        of devices, no matter how big the screen is.
    </p>
    <p><code>Insert some kind of conclusion here</code></p>

    <h3>About this site</h3>
    <p class="normal-text">
        This site was born
    </p>

</div>
