<div id="contact"><div class="container">

<div class="text-center col-xs-12 section">

    <h2 id="contact-header"> Contact me! </h2>

    <p class="col-sm-8 col-sm-offset-2" id="contact-paragraph">
        If you want to get in touch with me, you can do it sending an email at
        <a href="mailto:admoreno@outlook.com">admoreno@outlook.com</a>.
        <br>You can also find me on
        <a href="https://github.com/Adriem">github</a>,
        <a href="https://twitter.com/ClockworkAdriem">twitter</a> and
        <a href="https://es.linkedin.com/in/adrián-moreno-jimeno-004a26100">linkedin</a>!
    </p>
</div>

</div></div>
