<div id="header"><div class="container">

    <div class="row">
        <ul class="nav nav-tabs">
            {% if page.url == '/' %}
            <li class="left-align active"><a href="#projects">Projects</a>
            {% else %}
            <li class="left-align"><a href="{{ "/" | prepend: site.baseurl }}">Projects</a>
            {% endif %}
            {% if page.url == '/about/' %}
            <li class="active left-align"><a href="#who-am-i">About Me</a>
            {% else %}
            <li class="left-align"><a href="{{ "/about" | prepend: site.baseurl }}">About Me</a>
            {% endif %}
            <li class="right-align">
                <a href="#contact">Contact</a></li>
        </ul>
    </div>

    <div class="row brand-container">
        <h2>Adriem's workshop</h2>
        <p class="lead">Software development and coding stuff</p>
    </div>

</div></div>
