<!-- REPOSITORY TEMPLATE -->

<div class="col-md-4 col-sm-6 col-xs-12 project {{include.project.color}}">
    <a class="project-content" href="{{include.project.url}}" target="_blank">

        <!-- BODY -->
        <div class="project-body bordered-top">
            <p class="project-title">{{ include.project.name }}</p>
            <div class="project-separator"></div>
            <p class="project-description">{{ include.project.description }}</p>
        </div>

        <!-- FOOTER -->
        <div><p class="project-type">{{ include.project.type }}</p></div>

    </a>
</div>
