{% assign title = include.title %}
{% assign timeline = include.timeline %}

<div class="container">
  {% include _components/section-title.html data=title %}
  <!-- TODO: Implement trajectory/timeline component -->
  <ol class="timeline">
  {% for timelineEntry in timeline %}
    <li>
      <h3 class="timeline__title">{{timelineEntry.title}} - {{timelineEntry.company}}</h3>
      <div class="timeline__heading">{{timelineEntry.start}} - {{timelineEntry.end}}</div>
      <div class="timeline__description">{{timelineEntry.description}}</div>
    </li>
  {% endfor %}
  </ol>
</div>

{% assign title = nil %}
