<div class="text-left col-lg-8 col-lg-offset-2" style="line-height: 1.5; text-justify: distribute">

    <h3 class="text-center">About Adriem</h3>
    <p class="normal-text text-justify" style="text-indent: 35px;">
        I am Adrián Moreno, a Software Engineering student at Universidad de
        Zaragoza. I am from Zaragoza, a city from North-East Spain.
        I am a very curious person, so in my spare time I am always trying to
        learn new things, experimenting and developing little prototypes.
    </p>
    <p class="normal-text text-justify" style="text-indent: 35px;">
        I'm mainly interested in software architecture and full-stack web
        development (especially in the front-end). I am also interested in mobile
        applications, system administration and game development. I am a big fan
        of responsive design and minimalist user interfaces, and I find Agile
        methodologies really interesting.
    </p>
    <h5>These are the languages I mostly use:</h5>
    <ul class="normal-text">
        <li><strong>HTML5 + CSS3</strong></li>
        <li><strong>Coffeescript/Javascript</strong></li>
        <li><strong>Java</strong></li>
    </ul>
    <p class="normal-text text-justify" style="text-indent: 35px;">
        But I have also worked with other languages like C, Bash, Haskell,
        Erlang and even ARM Assembly!
    </p>
    <h5>And these are the frameworks and tools I mostly use:</h5>
    <ul class="normal-text">
        <li>For the front-end: <strong>
            Bootstrap 3, AngularJS
        </strong></li>
        <li>For the back-end: <strong>
            node.js, express.js, Apache Tomcat, J2EE + JSP
        </strong></li>
        <!--<li>Compilation tools: <strong>gulp.js</strong> and IDE integrated tools</li>-->
        <li>Database: <strong>
            MySQL, Oracle SQLPlus, MongoDB + mongoose
        </strong></li>
        <!--<li>-->
            <!--IDE: I'm currently using <strong>IntelliJ IDEA</strong> and I'm-->
            <!--really comfortable with it, but I have used <strong>Eclipse, Sublime-->
            <!--Text, Geany, Nano and Vi</strong>-->
        <!--</li>-->
    </ul>

    <h5>Some facts about me!</h5>
    <ul class=" text-justify normal-text">
        <li style="margin-bottom: 16px;">
            I have always a lot of projects in my head, from software projects
            to DIY stuff, so I have to use tools to keep them organized and be
            able to accomplish them (well, at least some of them).
        </li>
        <!--<li>-->
            <!--The longest time I have stayed awake is 23 hours. We had a deadline-->
            <!--approaching and an application that had to be almost entirely-->
            <!--rewritten.-->
        <!--</li>-->
        <!--<li>-->
            <!--I better work during the night. I can perfectly stay awake all night-->
            <!--long coding and then sleep in the morning, but I have to force-->
            <!--myself to sleep on regular human hours.-->
        <!--</li>-->
        <li style="margin-bottom: 16px;">
            I usually work while listening to music, but sometimes I just want
            some noise around me. I don't usually work in complete silence.
        </li>
        <li style="margin-bottom: 16px;">
            I was interested in game development even before I knew how to code,
            inventing tabletop and card games with my friends in high school.
            Since I my first hello worlds I've tried to develop little games,
            although I didn't finish any of them.
        </li>
        <li style="margin-bottom: 16px;">
            I also play the guitar, but I'm always so busy that I can't practice
            as much as I should. I play mainly rock and metal music \m/.
        </li>
        <li style="margin-bottom: 16px;">
            I love walking in nature, especially in quiet places where I can be
            all alone. When I'm exhausted I like to go to a little forest in a
            park near college.
        </li>
        <li style="margin-bottom: 16px;">
            If I could choose, I'd rather live in a small town in the mountains
            near nature than in a big city, but it should be a town with a
            decent internet connection! :P
        </li>
    </ul>
    <p class="text-center lead">
        If you want to contact me or find me in the social media, check the
        information in the sidebar
        <br><small>(It may be hidden, especially if you are on a mobile device.
        Open it from the upper left button)</small>
    </p>

    <!--<h3>Why this site?</h3>-->
    <!--<p class="normal-text">-->
        <!--When I started developing web applications, I thought it could be great-->
        <!--if I were able to host them so people could play around with them. I-->
        <!--started playing with GitHub pages, but they don't give you access to a-->
        <!--backend. So I decided to buy a Raspberry PI and set up a little web-->
        <!--server where I could host my projects. After a bunch of hours in front-->
        <!--of the command line interpreter, I managed to set up a web server in-->
        <!--this little beast. Then I thought I needed a home page where I could-->
        <!--track all my projects and, for that matter, -->

    <!--</p>-->

</div>
