<div class="col-xs-12 text-left project">

    <h4 class="visible-xs visible-sm text-center">
        <a ng-href="{{project.url}}" target="_blank">{{project.name}}</a>
    </h4>

    <div class="pic col-md-4 col-sm-10 col-sm-offset-1">
        <a ng-href="{{project.url}}" target="_blank">
            <img ng-src="{{project.pic}}"
                 alt="Project miniature">
        </a>
    </div>

    <div class="col-lg-5 col-md-6 hidden-xs hidden-sm">

        <h4><a ng-href="{{project.url}}" target="_blank">
            {{project.name}}
        </a></h4>

        <p class="normal-text" style="">{{project.description}}</p>

        <h6>Status: <span class="label" ng-class="{
            'label-success': project.state === 'finished',
            'label-warning': project.state === 'in development'
        }">
            {{project.state}}
        </span></h6>

        <h6>Code: <a ng-href="{{project.code}}" target="_blank">
            {{project.code}}
        </a></h6>

        <h6 style="line-height: 1.5">Tags:
            <span ng-repeat="tag in project.tags">
                <span class="label label-default">{{tag}}</span>
            </span>
        </h6>

    </div>

    <div class="col-xs-12 visible-xs visible-sm text-center">

        <p class="normal-text" style="">{{project.description}}</p>

        <h6>Status: <span class="label" ng-class="{
            'label-success': project.state === 'finished',
            'label-warning': project.state === 'in development'
        }">
            {{project.state}}
        </span></h6>

        <h6>Code: <a ng-href="{{project.code}}" target="_blank">
            {{project.code}}
        </a></h6>

        <h6 style="line-height: 1.5">Tags:
            <span ng-repeat="tag in project.tags">
                <span class="label label-default">{{tag}}</span>
            </span>
        </h6>

    </div>

</div>