@import "./_variables.scss";
@import "./_mixins.scss";
@import "./section.scss";

.container {
    @include screen-xs { width: 100%; margin: 0; }
    @include screen-sm { width: 100%; margin: 0; }
    @include screen-md { width: $width-md; margin: auto; }
    @include screen-lg { width: $width-lg; margin: auto; }
    @include screen-xl { width: $width-xl; margin: auto; }

    box-sizing: border-box;
    display: block;
}

body { margin: 0; }

// deprecated

#who-am-i {
  p { @include paragraph(700px, 20px) }
}
