@import "./_variables.scss";
@import "./_mixins.scss";

.container {
    @include screen-xs { width: 100%; margin: 0; }
    @include screen-sm { width: 100%; margin: 0; }
    @include screen-md { width: $width-md; margin: auto; }
    @include screen-lg { width: $width-lg; margin: auto; }
    @include screen-xl { width: $width-xl; margin: auto; }

    box-sizing: border-box;
    display: block;
}

body { margin: 0; }


// GRIDS

.fact-list { @include grid(350px, 20px) }
.fact {
  @include grid-element(320px, 40px);

  p { @include paragraph(350px, 20px) }
}


// PARAGRAPHS

#who-am-i {
  p { @include paragraph(700px, 20px) }
}
