@import "./_variables.scss";
@import "./_mixins.scss";

$header-font-family           : Josefin Sans, Palatino Linotype, serif;
$header-brand-font-family     : Poiret One, Georgia, serif;
$header-brand-sub-font-family : Raleway, sans-serif;
$header-tab-font-family       : $header-font-family;

$header-bg-color : #4B423D;
$header-texture  : "/assets/img/texture12.jpg";

$header-brand-color            : $color-white-accent;
$header-brand-font--desktop    : 48pt $brand-font-family;
$header-brand-font--mobile     : 25pt $brand-font-family;

$header-brand-sub-color         : rgba(255, 255, 255, 0.45);
$header-brand-sub-font--desktop : 19pt $brand-sub-font-family;
$header-brand-sub-font--mobile  : 16pt $brand-sub-font-family;

$header-tab-font--desktop : 300 17pt $tab-font-family;
$header-tab-font--mobile  : 300 15pt $tab-font-family;
$header-tab-color         : rgba(255, 255, 255, 0.45);
$header-tab-active-color  : rgba(255, 255, 255, 0.75);
$header-tab-hover-color   : $color-white-accent;

$footer-bg-color : #1B1716;
$footer-texture  : "/assets/img/texture13.jpg";

$footer-brand-color            : $color-white-accent;
$footer-brand-font--desktop    : 26pt $brand-font-family;
$footer-brand-font--mobile     : 23pt $brand-font-family;

$footer-brand-copy-color         : rgba(170, 170, 170, 0.45);
$footer-brand-copy-font--desktop : 12pt $main-font-family;
$footer-brand-copy-font--mobile  : 12pt $main-font-family;

$footer-tab-font--desktop : 300 17pt $tab-font-family;
$footer-tab-font--mobile  : 300 15pt $tab-font-family;
$footer-tab-color         : rgba(255, 255, 255, 0.45);
$footer-tab-active-color  : rgba(255, 255, 255, 0.75);
$footer-tab-hover-color   : $color-white-accent;


.navbar-tabs {
  .tab {
    text-decoration: none;
    padding: 5px 10px;

    &.right-align { @include screen-desktop { float: right; } }
    &.left-align { @include screen-desktop { float: left; } }
  }

  &::after { content: ""; clear: both; display: block; }  // Clearfix
}

.header {
  @include screen-desktop { padding: 25px 0 120px; };
  @include screen-mobile { padding: 30px 0 60px; }

  background-color: $header-bg-color;
  background-image: url($header-texture);
  text-align: center;

  .brand {
     @include screen-desktop { padding-top: 40px }

    .brand-title {
      @include screen-desktop { font: $header-brand-font--desktop; }
      @include screen-mobile { font: $header-brand-font--mobile; }

      margin: 0;
      padding: 25px 0 10px;
      color: $header-brand-color;
    }

    .brand-subtitle {
      @include screen-desktop { font: $header-brand-sub-font--desktop; }
      @include screen-mobile { font: $header-brand-sub-font--mobile; }

      margin: 0;
      color: $header-brand-sub-color;
    }
  }

  .navbar-tabs {
    .tab {
      @include screen-desktop { font: $header-tab-font--desktop }
      @include screen-mobile { font: $header-tab-font--mobile }

      color: $header-tab-color;

      &:hover, &:focus { color: $header-tab-hover-color; }

      &.active { color: $header-tab-active-color; }
    }
  }
}

.footer {
  @include screen-desktop { padding: 25px 0; };
  @include screen-mobile { padding: 30px 0 60px; }

  background-color: $footer-bg-color;
  background-image: url($footer-texture);
  text-align: center;

  .brand {
     @include screen-desktop { padding-top: 25px }
    
    .brand-title {
      @include screen-desktop { font: $footer-brand-font--desktop; }
      @include screen-mobile { font: $footer-brand-font--mobile; }

      margin: 0;
      padding: 25px 0 20px;
      color: $footer-brand-color;
    }
  }

  .copyright-notice {
    @include screen-desktop { font: $footer-brand-copy-font--desktop; }
    @include screen-mobile { font: $footer-brand-copy-font--mobile; }

    margin: 60px 0 0;
    color: $footer-brand-copy-color;
  }

  .navbar-tabs {
    .tab {
      @include screen-desktop { font: $footer-tab-font--desktop }
      @include screen-mobile { font: $footer-tab-font--mobile }

      color: $footer-tab-color;

      &:hover, &:focus { color: $footer-tab-hover-color; }

      &.active { color: $footer-tab-active-color; }
    }
  }
}

body {
  background-color: $footer-bg-color;
  background-image: $footer-texture;
  background-repeat: repeat;
}
