// ENABLE TEXTURES
$enable-textures: true !default;

// BRAND FONT
$brand-font: Poiret One, Georgia, serif;
$brand-font-weight: normal;

// DESCRIPTION FONT
$description-font: Raleway, sans-serif;
$description-font-weight: 300;

//GENERAL COLORS
/* $_accent-color: rgba(255, 255, 255, 0.90); */
$_accent-color: #fff;
$_fg-color: rgba(255, 255, 255, 0.45);

// HEADER APPEARANCE
$header-bg-color                 : #4B423D;
$header-texture                  : "/img/texture12.jpg";
$header-fg-color                 : $_fg-color;
$header-font                     : Josefin Sans, Palatino Linotype, serif;
$header-brand-color              : $_accent-color;
$header-brand-size-desktop       : 48pt; //350%;
$header-brand-size-mobile        : 25pt;
$header-description-color        : $header-fg-color;
$header-description-size-desktop : 19pt; //17pt;
$header-description-size-mobile  : 16pt; //14pt;

 // FOOTER COLORS
$footer-bg-color           : #2A2626;
$footer-texture            : "/img/texture13.jpg";
$footer-fg-color           : $header-fg-color;
$footer-font               : $header-font;
$footer-brand-color        : $header-brand-color;
$footer-brand-size-desktop : 26pt;
$footer-brand-size-mobile  : 23pt;
$footer-copyright-color    : darken($footer-fg-color, 35%);
$footer-copyright-font     : Questrial, sans-serif;
$footer-copyright-size     : 12pt;

// CONTACT APPEARANCE
$contact-bg-color            : #4A4646;
$contact-texture             : "/img/texture9.jpg";
$contact-fg-color            : $_fg-color;
$contact-font                : Josefin Sans, Palatino Linotype, Georgia, serif;
$contact-font-size-desktop   : 15pt;
$contact-font-size-mobile    : 15pt;
$contact-header-color        : darken($_accent-color, 10%);
$contact-header-font         : $contact-font;
$contact-header-size-desktop : 28pt;
$contact-header-size-mobile  : 23pt;
$contact-link-color          : darken($_accent-color, 10%);
$contact-hover-link-color    : $_accent-color;

// TABS APPEARANCE
$hover-tab-color  : $_accent-color;
$active-tab-color : rgba(255, 255, 255, 0.75);
$tab-color        : $_fg-color;
$tab-font         : Josefin Sans, sans-serif;
$tab-size-desktop : 16pt;
$tab-size-mobile  : 15pt;


// HEADER ----------------------------------------------------------------------
#header {

    background-color: $header-bg-color;
    @if $enable-textures and variable-exists(header-texture) {
        background-image: url($header-texture);
    }

    * {
      color: $header-fg-color;
      font-family: $header-font;
    }

    .container {
      @media(min-width:768px) { padding: 15px 15px 100px; }
      @media(max-width:767px) { padding: 15px 30px 61px; }
    }

    .brand-container {
        @media(min-width:768px) { padding: 40px 0 20px; }
        @media(max-width:767px) { padding: 30px 20px 25px; }
    }

    h2 {
        text-transform: capitalize;
        text-align: center;
        color: $header-brand-color;
        font-family: $brand-font;
        font-weight: $brand-font-weight;
        @media(min-width:768px) {
            font-size: $header-brand-size-desktop;
            margin: 25px 0 10px;
        }
        @media(max-width:767px) {
            font-size: $header-brand-size-mobile;
            line-height: 1.2;
            margin: 25px 0px 10px;
        }
    }

    p {
        margin: 0;
        text-align: center;
        color: $header-description-color;
        font-family: $description-font;
        font-weight: $description-font-weight;
        @media(min-width:768px) { font-size: $header-description-size-desktop; }
        @media(max-width:767px) { font-size: $header-description-size-mobile; }
    }
}

// CONTACT ---------------------------------------------------------------------
#contact {
    background-color: $contact-bg-color;
    @if $enable-textures and variable-exists(contact-texture) {
        background-image: url($contact-texture);
    }
    @media (max-width: 767px) { padding: 15px 0 30px; }
    @media (min-width: 768px) { padding: 15px 0 35px; }
    * {
      color: $contact-fg-color;
      font-family: $contact-font;
    }
    #contact-header {
        color: $contact-header-color;
        font-family: $contact-header-font;
        @media (min-width: 768px) { font-size: $contact-header-size-desktop; }
        @media (max-width: 767px) { font-size: $contact-header-size-mobile; }
    }
    #contact-paragraph {
        @media (min-width: 768px) { font-size: $contact-font-size-desktop; }
        @media (max-width: 767px) { font-size: $contact-font-size-mobile; }
        a {
            color: $contact-link-color;
            &:hover {
                text-decoration: underline;
                color: $contact-hover-link-color;
            }
        }
    }
}


// FOOTER ----------------------------------------------------------------------
html {
    background-color: $footer-bg-color;
    @if $enable-textures and variable-exists(footer-texture) {
        background-image: url($footer-texture);
    }
}
#footer {

    background-color: $footer-bg-color;
    @if $enable-textures and variable-exists(footer-texture) {
        background-image: url($footer-texture);
    }

    * {
      color: $footer-fg-color;
      font-family: $footer-font;
    }

    #copy-notice {
        p {
            font-size: $footer-copyright-size;
            font-family: $footer-copyright-font;
            color: $footer-copyright-color;
        }
    }

    .footer-main {
        @media(min-width:768px) { padding: 20px 0 40px; }
        @media(max-width:767px) { padding: 15px 0 35px; }
    }

    .container {
        @media(min-width:768px) { padding: 10px 15px 15px; }
        @media(max-width:767px) { padding: 15px 30px 10px; }
    }


    h2 {
        text-transform: capitalize;
        text-align: center;
        color: $footer-brand-color;
        font-family: $brand-font;
        font-weight: $brand-font-weight;
        @media(min-width:768px) {
            margin: 25px 0 10px;
            font-size: $footer-brand-size-desktop;
        }
        @media(max-width:767px) {
            margin: 25px 10px 10px;
            line-height: 1.2;
            font-size: $footer-brand-size-mobile;
        }
    }
}

// NAV-TABS --------------------------------------------------------------------
.nav-tabs, .nav-pills {
    text-align:center;
    border: none;

    li {
        // Position
        float: none;
        display: inline-block;
        *display: inline; /* ie7 fix */
        zoom: 1; /* hasLayout ie7 trigger */

        //Appearance
        text-transform: lowercase;
        font-family: $tab-font;
        @media(min-width:768px) { font-size: $tab-size-desktop; }
        @media(max-width:767px) { font-size: $tab-size-mobile; }
        * {
            box-shadow: none ! important;
            background: none ! important;
            border: none ! important;
            @media(max-width:767px) { padding: 0 8px 10px !important; }
            &:hover, &:focus, .open { color: $hover-tab-color ! important; }
        }
        &.active * { color: $active-tab-color ! important; }
    }

    // Alignment
    .right-align { @media(min-width:768px) { float: right ! important; } }
    .left-align  { @media(min-width:768px) { float: left  ! important; } }
}
