$headerBgColor: #8f7864; /*#562800; /*#373C48; /*#174E00; /*#4c1b1b; /*#B1FFE0; /*#960000; /*#4C1B1B; /*#443A31; /* #16563D; /* #666633; /* #53493E; */
$headerFgColor: rgba(255, 255, 255, 0.45);
$headerFgColor2: rgba(255, 255, 255, 0.15);
$selectedTabColor: rgba(255, 255, 255, 0.75);
$headerAccentColor: #FFFFFF;

$font-family: aleo, Georgia, Serif;

#header {

    background-color: $headerBgColor;
    background-image: url("../../../img/texture.jpg");

    .container { padding: 15px 15px 61px; }

    * {
      color: $headerFgColor;
      font-family: $font-family;
    }

    h2 {
      text-transform: capitalize;
      color: $headerAccentColor;
      font-family: $font-family;
      font-size: 300%;
      @media(min-width:768px) { padding-top: 15px; }
      @media(max-width:767px) { padding-top: 20px; }
    }

    p { margin-bottom: 0; }
}

.nav-tabs, .nav-pills {

  text-align:center;
  border-bottom: 0;

  li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
    @media(min-width:768px) { font-size: 14pt; }
    @media(max-width:767px) { font-size: 12pt; }
    text-transform: lowercase;
  }

  li > a {
      box-shadow: none ! important;
      /* font-weight: bold; /* Not suported by font-family in use */
      font-style: italic; /* Not suported by font-family in use */
      background: none;
      border: none;
      @media(max-width:767px) {
        padding-top: 0;
        padding-left: 8px;
        padding-right: 8px;
      }

      &:hover, &:focus, .open {
        color: $selectedTabColor ! important;
        background: none !important;
        border: none !important;
      }
  }

  .active > a {
    color: $selectedTabColor ! important;
    background: none !important;
    border: none !important;
  }

  .right-align {
    @media(min-width:768px) {
        float:right ! important;
    }
  }

  .left-align {
    @media(min-width:768px) {
        float:left ! important;
    }
  }

  &.contact {
    margin-top:10px;
    li {
      border-top: 1px solid $headerFgColor2;
      margin-right: -2px;
      margin-left: -1px;
      a {
        font-style: normal;
        padding-top: 10px;
      }
    }
  }
}
