@import "./_colors.scss";
@import "./_layout.scss";
@import "./_animations.scss";

@mixin link {
    text-decoration: none;
    margin: 0 0.1em;
    padding: 0 0.5em;
    display: inline-block;
    transition: color $link-transition-time ease-in-out;
}

@mixin paragraph($width, $margin-bottom) {
    max-width: $width;
    text-align: justify;
    margin-bottom: $margin-bottom;
    margin-left: auto;
    margin-right: auto;
}
