@import "./_variables.scss";
@import "./_mixins.scss";

$header-font-family           : Josefin Sans, Palatino Linotype, serif;

$header-bg-color : $color-white;
$header-anim-time: 1.0s;

$header-brand-color         : $color-black-accent;
$header-brand-font-family   : Poiret One, Georgia, serif;
$header-brand-font--desktop : 600 72pt $brand-font-family;
$header-brand-font--mobile  : 26pt $brand-font-family;

$header-brand-sub-color         : $color-black-soft;
$header-brand-sub-font-family   : Raleway, sans-serif;
$header-brand-sub-font--desktop : 500 20pt $brand-sub-font-family;
$header-brand-sub-font--desktop : 400 18pt Questrial;
$header-brand-sub-font--mobile  : 16pt $brand-sub-font-family;

$header-tab-color         : $color-black-soft;
$header-tab-hover-color   : $color-black-accent;
$header-tab-active-color  : $color-black-accent;
$header-tab-font-family   : Josefin Sans, Palatino Linotype, serif;
$header-tab-font--desktop : 300 17pt $tab-font-family;
$header-tab-font--mobile  : 300 15pt $tab-font-family;

$header-animation-time: 2s;

$footer-bg-color : #1B1716;
$footer-texture  : "/assets/img/texture13.jpg";

$footer-brand-color            : $color-white-accent;
$footer-brand-font--desktop    : 26pt $brand-font-family;
$footer-brand-font--mobile     : 23pt $brand-font-family;

$footer-brand-copy-color         : rgba(170, 170, 170, 0.45);
$footer-brand-copy-font--desktop : 12pt $main-font-family;
$footer-brand-copy-font--mobile  : 12pt $main-font-family;

$footer-tab-font--desktop : 300 17pt $tab-font-family;
$footer-tab-font--mobile  : 300 15pt $tab-font-family;
$footer-tab-color         : rgba(255, 255, 255, 0.45);
$footer-tab-active-color  : rgba(255, 255, 255, 0.75);
$footer-tab-hover-color   : $color-white-accent;

.navbar-tabs {
  .tab {
    @include fade-in-anim(tab-left-anim, left, 1em);
    @include fade-in-anim(tab-right-anim, right, 1em);
    @include fade-in-anim(tab-bottom-anim, bottom, 1em);

    text-decoration: none;
    padding: 5px 10px;

    &.right-align {
      @include screen-desktop {
        float: right;
        // animation: tab-left-anim $header-anim-time ease-out;
      }
      @include screen-mobile {
        // animation: tab-bottom-anim $header-anim-time ease-out;
      }
    }

    &.left-align {
      @include screen-desktop {
        float: left;
        // animation: tab-right-anim $header-anim-time ease-out;
      }
      @include screen-mobile {
        // animation: tab-bottom-anim $header-anim-time ease-out;
      }
    }
  }

  &::after { content: ""; clear: both; display: block; }  // Clearfix
}


.footer {
  @include screen-desktop { padding: 25px 0; };
  @include screen-mobile { padding: 30px 0 60px; }

  background-color: $footer-bg-color;
  background-image: url($footer-texture);
  text-align: center;

  .brand {
     @include screen-desktop { padding-top: 25px }
    
    .brand-title {
      @include screen-desktop { font: $footer-brand-font--desktop; }
      @include screen-mobile { font: $footer-brand-font--mobile; }

      margin: 0;
      padding: 25px 0 20px;
      color: $footer-brand-color;
    }
  }

  .copyright-notice {
    @include screen-desktop { font: $footer-brand-copy-font--desktop; }
    @include screen-mobile { font: $footer-brand-copy-font--mobile; }

    margin: 60px 0 0;
    color: $footer-brand-copy-color;
  }

  .navbar-tabs {
    .tab {
      @include screen-desktop { font: $footer-tab-font--desktop }
      @include screen-mobile { font: $footer-tab-font--mobile }

      color: $footer-tab-color;

      &:hover, &:focus { color: $footer-tab-hover-color; }

      &.active { color: $footer-tab-active-color; }
    }
  }
}

body {
  background-color: $color-white;
}


/* LEGACY STUFF
$header-bg-color : #4B423D;
$header-texture  : "/assets/img/texture12.jpg";
*/

