$project-width: 372px;
$project-gutter-width: 10px;

$project-height: 340px;
$repo-height: 120px;

$project-title-font--desktop: 400 1.5rem $main-font-family;
$project-title-font--mobile: 400 1.5rem $main-font-family;

$project-description-font--desktop: 300 1rem $main-font-family;
$project-description-font--mobile: 300 1rem $main-font-family;

$project-tag-font--desktop: 10pt $main-font-family;
$project-tag-font--mobile: 10pt $main-font-family;

$project-notice-font--desktop: 600 9pt $main-font-family;
$project-notice-font--mobile: 600 9pt $main-font-family;

$color-project-light: #9a918d;
$color-project-dark: #48433d;

$project-fg-color: $color-black;
$project-bg-color: $color-project-light;
$project-title-color: $color-black;
$project-description-color: $color-black-soft;
$project-notice-fg-color: $color-black;
$project-notice-bg-color: #d79a7c;

$project-separator-color: lighten($project-fg-color, 0.6%);
$project-border-color: lighten($project-fg-color, 0.6%);


.project-grid, .repository-grid {
  @include grid($project-width, $project-gutter-width);

  .project, .repository {
    @include grid-element($project-width, $project-gutter-width);

    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: $project-bg-color;

    .project-body, .repo-body {
        padding: 10px;
    }

    .project-title, .repo-title {
      @include screen-desktop { font: $project-title-font--desktop }
      @include screen-mobile { font: $project-title-font--mobile }

      color: $project-title-color;
      margin: 0;
      padding: 10px 0 5px;
    }

    .project-description, .repo-description {
      @include screen-mobile { font: $project-description-font--mobile }
      @include screen-desktop { font: $project-description-font--desktop }

      color: $project-description-color;
      margin: 0;
      padding: 5px 0;
    }

    .project-type, .repo-type {
        display: none;
    }

    .project-separator {
        display: none;
        margin: 10px 70px;
        border: {
            width: 1px 0 0;
            style: solid;
            color: $project-separator-color;
        }
    }

    .notice-container {
      margin-top: -30px !important;

      .notice {
        margin: 0 1px;
        position: relative;
        font: $project-notice-font--desktop;
        text-transform: uppercase;
        line-height: 25px;
        color: $project-notice-fg-color;
        background-color: $project-notice-bg-color;
        z-index: 10;
      }
    }

    .project-thumbnail {
      max-width: $project-width;
      border: 1px solid $project-border-color;
    }
  }

  .project { min-height: $project-height }
  .repository { min-height: $repo-height }
  .repository {
    // border-top: 1px solid $project-border-color;
    // border-bottom: 1px solid $project-border-color;
    // border-right: 1px solid linear-gradient(to bottom, $project-border-color, rgba(0,0,0,0));
    // border-left: 1px solid linear-gradient(to bottom, $project-border-color, rgba(0,0,0,0));

    .repo-separator {
        margin: 10px 70px;
        border: {
            width: 1px 0 0;
            style: solid;
            color: $project-separator-color;
        }
    }
  }
}

