/* FONTS */
$title-font: 700 15pt Questrial, Josefin Sans, sans-serif;
$description-font: 14pt Questrial, Josefin Sans, sans-serif;
$type-font: 10pt Questrial, Josefin Sans, sans-serif;
$notice-font: 600 9pt Questrial, Josefin Sans, sans-serif;

/* COLORS */
$project-light: #9a918d;
$project-dark: #48433d;
$notice-foreground: $project-dark;
$notice-background: #f4b272;

.project {

    @media(min-width:768px) { padding: 10px 5px; }
    @media(max-width:767px) { padding: 10px 0; }

    .project-content {

        text-decoration: none !important;

        img {
            border: 1px solid $project-dark;
            border-bottom: 0;
            z-index: -1;
        }

        div {
            border: { width: 0 1px; style: solid; color: $project-dark; }
            margin: 0 auto;
            max-width: 372px;
        }

        .project-body {
            &.bordered-top { border-width: 1px 1px 0 !important; }
            min-height: 119px;
            @media (max-width: 1199px) and (min-width: 992px) { min-height: 144px; }
            padding: 15px;
            color: $project-dark;
            background-color: $project-light;

            .project-title {
                font: $title-font;
                margin: 5px 0;
            }

            .project-separator {
                margin: 10px 70px;
                border: {
                    width: 1px 0 0;
                    style: solid;
                    color: darken($project-light, 15%);
                }
            }

            .project-description {
                font: $description-font;
                margin: 5px 0;
            }
            
        }

        .project-type {
            font: $type-font;
            text-transform: lowercase;
            padding: 3px;
            color: #FFFFFF;
            background-color: $project-dark;
        }

        .notice-container {
            margin-top: -21px !important;
        }
        .notice {
            margin: 0;
            position: relative;
            font: $notice-font;
            text-transform: uppercase;
            padding: 4px;
            color: $notice-foreground;
            background-color: $notice-background;
            z-index: 10;
        }

    }
}

/* $brownLight: #957E6A; */
/* $brownDark: #52453A; */
/* $neutralLight: #9a918d; */
/* $neutralDark: #48433d; */
/* $blueLight: #8897B9; */
/* $blueDark: #41475A; */
/* $blackLight: #888888; */
/* $blackDark: #444444; */
/* $redLight: #A25452; */
/* $redDark: #692A29; */
/* $greenLight: #598C70; */
/* $greenDark: #304E3E; */
/* [> $titleColor: #8E7763; <] */
/* $noticeBgColor: #f4b272; */
/* $noticeFgColor: $brownDark; */

/* $title-font: Questrial, Josefin Sans, sans-serif; */
/* $description-font: Questrial, Josefin Sans, sans-serif; */
/* $title-color: #877; */
