@import "./_typography.scss";


.section {
  position: relative;  // Necessary for parallax efect

  width: 100%;
  margin: 0;
  padding: 5em 0;

  @include typography__body-compact;
  letter-spacing: 0.01em;

  &.section--small-padding { padding: 2.5em 0 }
  &.section--large-padding { padding: 7.5em 0  }

  .section__title {
    @include typography__title-large;

    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1em;
    padding: 0;

    &.section__title--center { text-align: center }
    &.section__title--left   { text-align: left   }
    &.section__title--right  { text-align: right  }

    .section__surtitle {
      @include typography__body-compact;

      display: block;
      width: 100%;
      margin: 0;
      padding: 0.25em 0 0;
    }
  }
}
