// -=( RESPONSIVE BREAKPOINTS )=------------------------------------------------

$width-xl: 1200px;
$width-lg:  992px;
$width-md:  768px;
$width-sm:  576px;
$width-xs:  575px;


// -=( COLORS )=----------------------------------------------------------------

$color-white: #fefefe;
$color-white-accent: #fff;

$color-light-gray: #eee;
$color-gray: #ccc;

$color-black-soft: #999;
$color-black: #555;
$color-black-accent: #333;

$color-brown-accent: #655;


// --=( FONTS )==---------------------------------------------------------------
$main-font-family: Montserrat, Questrial, sans-serif;
$brand-font-family: Poiret One, Georgia, serif;
$brand-sub-font-family: Raleway, sans-serif;
$tab-font-family: Josefin Sans, Palatino Linotype, serif;

