// --=( RESPONSIVE BREAKPOINTS )==---------------------------------------------

$width-xl: 1200px;
$width-lg:  992px;
$width-md:  768px;
$width-sm:  576px;
$width-xs:  575px;


// --=( COLORS )==--------------------------------------------------------------

$color-white: #f8f8f8;
$color-white-accent: #fff;

$color-light-gray: #eee;

$color-black-soft: #777;
$color-black: #555;
$color-black-accent: #333;

$color-brown-accent: #655;


// --=( FONTS )==---------------------------------------------------------------
$main-font-family: Questrial, sans-serif;
$brand-font-family: Poiret One, Georgia, serif;
$brand-sub-font-family: Raleway, sans-serif;
$tab-font-family: Josefin Sans, Palatino Linotype, serif;

