<div id="header"><div class="container">

  <div class="row">
    <ul class="nav nav-tabs">
        <li class="left-align" ng-class="{'active': isActiveSection('/projects')}">
          <a ui-sref="projects">Projects</a></li>
        <li class="left-align" ng-class="{'active': isActiveSection('/about')}">
          <a ui-sref="about">About me</a></li>
        <li class="right-align" ng-class="{'active': isActiveSection('/home')}">
          <a ui-sref="home">Español</a></li>
      </ul>
    </div>

  <div class="row text-center">
    <h2>
        Adriem's workshop
    </h2>
    <p class="lead">
      Software development and coding stuff
    </p>
  </div>

  <div class="row">
    <ul class="nav nav-tabs contact">
        <li><a href="mailto:admoreno@outlook.com">
          <span style="font-family:FontAwesome"
            class="fa fa-envelope"></span> admoreno@outlook.com</a></li>
        <li><a href="https://github.com/Adriem">
          <span style="font-family:FontAwesome"
            class="fa fa-github fa-lg"></span></a></li>
        <li><a href="https://twitter.com/ClockworkAdriem">
          <span style="font-family:FontAwesome"
            class="fa fa-twitter fa-lg"></span></a></li>
      </ul>
    </div>
</div></div>
