<!-- DESKTOP HEADER -->
<div id="header" class="row text-center hidden-xs">
    <h3 class="smooth-anim hidden-xs"
        ng-class="{ 'small-main': !isActiveSection('/home') }">
        Adriem's workshop
    </h3>
    <p class="lead col-sm-8 col-sm-offset-2 smooth-anim"
       ng-class="{ 'small-sub': !isActiveSection('/home') }">
        Full-stack web development and software-related stuff
    </p>
</div>

<!-- MOBILE HEADER -->
<div id="header-mobile" class="row text-center visible-xs">
    <h4 class="smooth-anim text-center"
        ng-class="{ 'small-main': !isActiveSection('/home') }">Adriem's workshop</h4>
    <p class="lead col-sm-8 col-sm-offset-2 smooth-anim"
       ng-show="isActiveSection('/home')">
        Full-stack web development and software-related stuff
    </p>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': isActiveSection('/home')}"><a ui-sref="home">Home</a></li>
        <li ng-class="{'active': isActiveSection('/projects')}"><a ui-sref="projects">Projects</a></li>
        <li ng-class="{'active': isActiveSection('/about')}"><a ui-sref="about">About</a></li>
    </ul>
</div>