@import "_variables.scss";
@import "_mixins.scss";

.content-block {
  $cb--bg-color: $color-light-gray;

  $cb--title-color: #444;
  $cb--title-font-family: $title-font-family;
  $cb--title-font--desktop: 400 1.8rem $cb--title-font-family;
  $cb--title-font--mobile:  400 1.8rem $cb--title-font-family;

  $cb--text-color: $color-black;
  $cb--text-font-family: $text-font-family;
  $cb--text-font--desktop: 300 0.9rem $cb--text-font-family;
  $cb--text-font--mobile:  300 0.9rem $cb--text-font-family;

  @include screen-mobile { background-image: none }
  @include screen-desktop { background-image: url('/assets/img/avatar1.jpg') }

  width: 100%;
  padding: 0 190px 0 0;
  margin: 0;
  max-width: 50em;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
  margin: 0 auto;

  .content-img {
    @include screen-desktop { display: none; }
    @include screen-mobile { display: block; border-radius: 100%; }
  }

  .content-text {
    text-align: justify;
    padding: 2em 15% 2em 0;
    background: linear-gradient(to right,
                                #FFF 75%,
                                #fcfcfc 80%,
                                #eee 90%,
                                rgba(238, 238, 238, 0.95) 92%,
                                rgba(238, 238, 238, 0.90) 93%,
                                rgba(238, 238, 238, 0.85) 94%,
                                rgba(238, 238, 238, 0.65) 96%,
                                rgba(238, 238, 238, 0.45),
                                rgba(238, 238, 238, 0.25),
                                rgba(238, 238, 238, 0));

    .content-lead-text {
      @include screen-desktop { font: $cb--title-font--desktop; }
      @include screen-mobile { font: $cb--title-font--mobile; }

      color: $cb--title-color;
      padding: 0;
      margin: 0 0 0.5em 0;
    }

    .content-regular-text {
        @include screen-desktop { font: $cb--text-font--desktop; }
        @include screen-mobile { font: $cb--text-font--mobile; }

        color: $cb--text-color;
        letter-spacing: 0.01em;
        margin-bottom: 0.5em;
        &:last-child { margin: 0 }
    }
  }
}
