@import "./_variables.scss";
@import "./_mixins.scss";

$navbar__collapse-time: 0.25s;
$navbar__bg-animation-time: 0.75s;

$navbar__bg-color            : $color-white;
$navbar-brand__color         : $color-black-accent;
$navbar-brand__font-family   : Montserrat, helvetica;
$navbar-brand__font-expanded--desktop  : 300 4.5rem $navbar-brand__font-family;
$navbar-brand__font-collapsed--desktop : 400 1.5rem $navbar-brand__font-family;
$navbar-brand__font-expanded--mobile   : 200 26pt $navbar-brand__font-family;
$navbar-brand__font-collapsed--mobile  : 200 26pt $navbar-brand__font-family;

$navbar-tab__color         : $color-black-accent;
$navbar-tab__dim-color     : $color__gray--dark;
$navbar-tab__hover-color   : $color-black-accent;
$navbar-tab__active-color  : $color-black-accent;
$navbar-tab__font-family   : Montserrat, Josefin Sans, Palatino Linotype, serif;
$navbar-tab__font--desktop : 100 1.3rem $navbar-tab__font-family;
$navbar-tab__font--desktop : 400 1rem $navbar-tab__font-family;
$navbar-tab__font--mobile  : 300 15pt $navbar-tab__font-family;
$navbar-tab__z-index: $z-index__navbar + 1;

$splash-social__color: $color__red;

.navbar {
  z-index: $z-index__navbar;
  position: fixed;
  top: -3px;
  left: 0;
  right: 0;
  background: none;

  transition: height $navbar__collapse-time ease-in-out,
              background-color $navbar__collapse-time ease-in-out,
              opacity $navbar__collapse-time ease-in-out;

  animation: navbar__slide-in 2500ms ease-in-out;

  .navbar--collapsed-only {
    transition: opacity $navbar__collapse-time ease-in-out;
  }
  .navbar--expanded-only {
    transition: opacity $navbar__collapse-time ease-in-out;
  }

  &--expanded .navbar--collapsed-only { opacity: 0; transition-delay: 0s; }
  &--expanded .navbar--expanded-only  { opacity: 1; transition-delay: $navbar__collapse-time; }

  &--collapsed .navbar--collapsed-only { opacity: 1; transition-delay: $navbar__collapse-time; }
  &--collapsed .navbar--expanded-only  { opacity: 0; transition-delay: 0s; }


  &::before {
    content: '';
    width: 100%;
    position: relative;
    top: 3px;
    height: 3px;
    display: block;
    background: linear-gradient(to right,
                                $color__red 10%,
                                rgba($color__red, 0.15) 95%);
    background-color: #00f2;
    transition: height $navbar__collapse-time ease-in-out,
                background-color $navbar__collapse-time ease-in-out,
                opacity $navbar__collapse-time ease-in-out;
  }
  &--expanded::before { opacity: 0; }

  .navbar__brand {
    .navbar__title {
      @include screen-desktop { font: $navbar-brand__font-collapsed--desktop; }
      @include screen-mobile { font: $navbar-brand__font-collapsed--mobile; }

      padding: 1.3rem 0 1.1rem;
    }
  }

  .navbar__tabs {
    position: relative;
    padding: 1.5em 0 1em;

    &::before {
      z-index: -10;
      content: '';
      position: absolute;
      pointer-events: none;
      left: 50%;
      transform: translate(-50%, -5%) skew(0deg, 2.5deg) scaleY(130%);
      top: 0;
      bottom: 0;
      width: 100%;
      padding: 1.5em;
      display: block;
      background: $navbar__bg-color;
      box-sizing: content-box;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

      transition: width $navbar__bg-animation-time ease-in-out,
                  box-shadow $navbar__bg-animation-time,
                  transform $navbar__collapse-time ($navbar__bg-animation-time - $navbar__collapse-time);
    }
  }

  &--collapsed .navbar__tabs::before {
    width: 200vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
    transform: translate(-50%, 0);

    transition: width $navbar__bg-animation-time ease-in-out,
                box-shadow $navbar__bg-animation-time,
                transform $navbar__collapse-time;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar__brand {
    text-align: left;

    .navbar__title {
      margin: 0;
      color: $navbar-brand__color;
      text-shadow: 0 0 10px $navbar__bg-color;
      letter-spacing: -0.05em;
      vertical-align: middle;
      transition: font-size $navbar__collapse-time ease-in-out,
                  font-weight $navbar__collapse-time ease-in-out;
    }
  }

  .navbar__tabs {
    text-align: right;
    box-sizing: border-box;
    padding: 0;
    transition: padding $navbar__collapse-time ease-in-out;

    &:hover .navbar__tab:not(:hover):not(.active) {
      color: $navbar-tab__dim-color;
    }

    .navbar__tab {
      @include link;
      @include screen-desktop { font: $navbar-tab__font--desktop }
      @include screen-mobile { font: $navbar-tab__font--mobile }

      text-transform: lowercase;
      text-decoration: none;
      margin: 0 0.1em;
      padding: 1.5em 0.5em 1em;
      display: inline-block;
      transition: color $link-transition-time ease-in-out;

      z-index: $navbar-tab__z-index;
      color: $navbar-tab__color;

      &.active { color: $navbar-tab__active-color; }

      &:after {
        content: '';
        width: 0px;
        display: block;
        opacity: 0;
        margin: 0.3em auto 0;
        height: 1px;
        transition: width 0.15s ease-out,
                    opacity 0.10s linear 0.05s,
                    background-color 0.25s ease-in-out;
      }

      &.active:after,
      &:not(.active):hover:after {
        background-color: $navbar-tab__active-color;
      }

      &:focus:after,
      &:hover:after {
        content: '';
        display: block;
        opacity: 1;
        margin: 0.3em auto 0;
        height: 1px;
        width: 100%;
        transition: width 0.15s ease-out,
                    opacity 0.1s,
                    background-color 0.25s ease-in-out;
      }
    }
  }
}
