@import "./_variables.scss";
@import "./_mixins.scss";

$navbar__collapse-time: 0.25s;

  $navbar__bg-color            : $color-white;
  $navbar-brand__color         : $color-black-accent;
  $navbar-brand__font-family   : Montserrat, helvetica;
  $navbar-brand__font-expanded--desktop  : 300 4.5rem $navbar-brand__font-family;
  $navbar-brand__font-collapsed--desktop : 400 1.5rem $navbar-brand__font-family;
  $navbar-brand__font-expanded--mobile   : 200 26pt $navbar-brand__font-family;
  $navbar-brand__font-collapsed--mobile  : 200 26pt $navbar-brand__font-family;

  $navbar-tab__color         : $color__gray--dark;
  $navbar-tab__hover-color   : $color-black-accent;
  $navbar-tab__active-color  : $color-black-accent;
  $navbar-tab__font-family   : Montserrat, Josefin Sans, Palatino Linotype, serif;
  $navbar-tab__font--desktop : 100 1.3rem $navbar-tab__font-family;
  $navbar-tab__font--desktop : 400 1rem $navbar-tab__font-family;
  $navbar-tab__font--mobile  : 300 15pt $navbar-tab__font-family;
  $navbar-tab__z-index: $z-index__navbar + 1;

$splash-social__color: $color__red;

@mixin navbarLink() {
    @include screen-desktop { font: $navbar-tab__font--desktop }
    @include screen-mobile { font: $navbar-tab__font--mobile }

    text-transform: lowercase;
    text-decoration: none;
    margin: 0 0.1em;
    padding: 0 0.5em;
    display: inline-block;
    transition: color $navbar__collapse-time ease-in-out;

    &:hover { color: $navbar-tab__hover-color; }
    &.active { color: $navbar-tab__active-color; }
}

.navbar {
  @include clearfix;

  z-index: $z-index__navbar;
  position: fixed;
  top: -3px;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, $navbar__bg-color 40%, rgba($navbar__bg-color, 0));
  transition: height $navbar__collapse-time ease-in-out,
              background-color $navbar__collapse-time ease-in-out,
              opacity $navbar__collapse-time ease-in-out;

  &::before {
    content: '';
    width: 100%;
    position: relative;
    top: 3px;
    height: 3px;
    display: block;
    background: linear-gradient(to right,
                                $color__red 10%,
                                rgba($color__red, 0.15) 95%);
    background-color: #00f2;
    transition: height $navbar__collapse-time ease-in-out,
                background-color $navbar__collapse-time ease-in-out,
                opacity $navbar__collapse-time ease-in-out;
  }

  .navbar__brand {
    .navbar__title {
      @include screen-desktop { font: $navbar-brand__font-collapsed--desktop; }
      @include screen-mobile { font: $navbar-brand__font-collapsed--mobile; }

      padding: 1.3rem 0 1.1rem;
      // color: white !important;
      // text-shadow: none !important;
    }
  }
  .navbar__tabs { padding: 1.5em 0 1em; }

  &--expanded {
    .navbar--collapsed-only, &::before { opacity: 0; }
  }

  &--collapsed {
    background-color: rgba($navbar__bg-color, 0.95);

    .navbar--expanded-only { opacity: 1; }
  }

  .container { height: 100% }
  .navbar__brand {
    text-align: left;
    float: left;

    .navbar__title {
      margin: 0;
      color: $navbar-brand__color;
      text-shadow: 0 0 10px $navbar__bg-color;
      letter-spacing: -0.05em;
      vertical-align: middle;
      transition: font-size $navbar__collapse-time ease-in-out,
                  font-weight $navbar__collapse-time ease-in-out;
    }
  }

  .navbar__tabs {
    float: right;
    text-align: right;
    box-sizing: border-box;
    transition: padding $navbar__collapse-time ease-in-out;

    .navbar__tab {
      @include navbarLink;

      z-index: $navbar-tab__z-index;
      color: $navbar-tab__color;
      text-shadow: 0 0 10px $navbar__bg-color;

      &:after {
        content: '';
        width: 0px;
        display: block;
        opacity: 0;
        margin: 0.3em auto 0;
        height: 1px;
        transition: width 0.15s ease-out,
                    opacity 0.10s linear 0.05s,
                    background-color 0.25s ease-in-out;
      }

      &.active:after,
      &:not(.active):hover:after {
        background-color: $navbar-tab__active-color;
      }

      &:focus:after,
      &:hover:after {
        content: '';
        display: block;
        opacity: 1;
        margin: 0.3em auto 0;
        height: 1px;
        width: 100%;
        transition: width 0.15s ease-out,
                    opacity 0.1s,
                    background-color 0.25s ease-in-out;
      }
    }
  }
}
