@import "./_mixins.scss";
@import "./_typography.scss";


.social-grid {
  $social-grid-icon__size: 1.75rem;

  @include grid(200px, 40px, 4);

  margin: 3rem auto 4rem;
  text-align: center;

  &:hover .social-grid__link:not(:hover) {
    transition: opacity 500ms ease-out;
    opacity: 0.4;
  }

  .social-grid__link {
    @include grid-element(200px, 40px);

    border: none;
    transition: color 250ms ease-out, opacity 250ms ease-out;

    &:hover, &:focus {
      transition: color 350ms ease-out, opacity 500ms ease-out;

      .social-grid__icon {
        transform: scale(1.35);
        transition: transform 150ms ease-in-out;
      }
      .social-grid__caption {
        transform: translateY(.25em);
        transition: transform 200ms ease-in-out;
      }
    }

    .social-grid__icon {
      font-size: $social-grid-icon__size;
      display: block;
      transition: transform 250ms ease-in-out;
    }

    .social-grid__caption {
      @include typography__body-compact;

      display: block;
      margin-top: 1rem;
      text-decoration: none;
      transition: transform 300ms ease-in-out;
    }
  }
}
