@import "_mixins";
@import "_typography";

.text-block {
  width: 100%;
  margin: 0 auto;

  .text-block__title {
    @include typography__title-medium;

    padding: 0;
    margin: 0 0 0.5em 0;
    text-align: center;
  }

  .text-block__paragraph {
    @include paragraph(50rem, 0rem);

    margin-bottom: 0.5em;

    &:last-child { margin-top: 0; margin-bottom: 0; }
  }
}
