<div class="row"><div class="col-sm-8 col-sm-offset-2">
    <p class="lead text-center" style="margin-top: 30px;">
        Hi there! I'm Adrian, a software developer and software engineering
        student, welcome to my workshop :D<br>
        This is my personal web page and the home of some of my
        little web projects.
        <br><br>
        <strong><a ui-sref="projects">See my projects!</a></strong>
        <br><br>
        You can also check <a href="https://github.com/Adriem">my GitHub page</a>
        or take a look at my contact info in the sidebar.
    </p>
</div></div>