<div class="row"><div class="col-sm-8 col-sm-offset-2">
    <p class="lead text-center" style="margin-top: 30px;">
        Hi there! I'm Adrian, a software developer and software engineering
        student, welcome to my workshop :D<br>
        This is my personal web page and the home of some of my
        little web projects.<br><br>
        <span><a ui-sref="projects">Take a look at them!</a></span>
        <!--Check <a ui-sref="projects">my portfolio</a> and take a look to my-->
        <!--projects or go <a ui-sref="about">here</a> to see some information about-->
        <!--me.<br>And check the sidebar if you want to contact me!-->
    </p>
</div></div>