@media(min-width:768px) {
    #header {
        margin-top: 0;
    }
}

@media(max-width:767px) {
    #header-mobile {
        margin-top: 10px;
    }
    #header-mobile h4 {
        margin-top: -5px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    #header-mobile .lead {
        margin-bottom: 0;
    }
}
#header * {
    /*color: #fff;*/
}

#header .lead, #header-mobile .lead {
    font-size: 14pt;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
    font-size: 12pt;
}

.nav-tabs, .nav-pills {
    text-align:center;
    border-bottom: 1px solid #ddd;
}

/* ANIMATION */
.smooth-anim.ng-hide-add.ng-hide-add-active,
.smooth-anim.ng-hide-remove {
    opacity:0;
    line-height: 0;
    font-size: 0 !important;
}
.smooth-anim.ng-hide-add,
.smooth-anim.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
    margin-top: 0;
}

.smooth-anim {
    -webkit-transition:all ease 0.25s;
    -moz-transition:all ease 0.25s;
    -o-transition:all ease 0.25s;
    transition:all ease 0.25s;
}

@media(min-width:768px) {
    .small-main {
        margin-top: 0;
        margin-bottom: 0;
    }
    .small-sub {
        font-size: 10pt !important;
        margin-bottom: 5px;
    }
}

@media(max-width:767px) {
    .small-sub {
        opacity:0;
        margin-top: -100px;
    }
}
