<!-- DESKTOP HEADER -->
<div id="header" class="row text-center hidden-xs">
    <h3 class="smooth-anim" ng-class="{ 'small-main': !isActiveSection('/home') }">Adriem's workshop</h3>
    <p class="lead col-sm-8 col-sm-offset-2 smooth-anim"
       ng-class="{ 'small-sub': !isActiveSection('/home') }">
        Full-stack web development and software-related stuff
        <!--<br><br>-->
        <!--<a ui-sref="/projects">Check out my projects!</a>-->
    </p>
</div>

<!-- MOBILE HEADER -->
<div id="header-mobile" class="row text-center visible-xs">
    <h3 class="smooth-anim" ng-class="{ 'small-main': !isActiveSection('/home') }">Adriem's workshop</h3>
    <p class="lead col-sm-8 col-sm-offset-2 smooth-anim"
       ng-show="isActiveSection('/home')">
        Full-stack web development and software-related stuff
        <!--<br><br>-->
        <!--<a ui-sref="/projects">Check out my projects!</a>-->
    </p>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': isActiveSection('/home')}"><a ui-sref="home">Home</a></li>
        <li ng-class="{'active': isActiveSection('/projects')}"><a ui-sref="projects">Projects</a></li>
        <li ng-class="{'active': isActiveSection('/about')}"><a ui-sref="about">About</a></li>
        <!--<li ng-class="{'active': isActiveSection('/contact')}"><a ui-sref="contact">Contact</a></li>-->
    </ul>
</div>