---
layout: default
---
<div class="section accent-section">
    <div class="container">
        <p class="section-title"> {{ page.contents.jumbo.title }} </p>

        <div class="visible-xs-block">
            <img class="img-responsive avatar" src="/assets/img/avatar-wall.jpg"></img>
        </div>

        {{ page.contents.jumbo.body }}

    </div>
</div>

<div class="section regular-section" id="who-am-i">
  <div class="container">
    <h2 class="section-title align-center">
      {{ page.contents.section.title }}
    </h2>

    {{ page.contents.section.body }}
  </div>
</div>

<div class="section regular-section" id="facts">
  <div class="container">
    <h2 class="section-title align-center">{{ page.contents.facts.title }}</h2>

    <div class="fact-list regular-text">
    {% for fact in page.contents.facts.list %}
      <div class="fact">{{ fact | markdownify }}</div>
    {% endfor %}
    </div>
  </div>
</div>
