---
# Defines the structure of the landing page. Each localisation creates a page that
# uses this layout and sets `language` to load the matching data from _data/<lang>/.

layout: base
---
{% include section-navbar.html %}

<div class="parallax">
  {% include section-home-splash.html %}

  <section id="about" class="section theme--default">
    {% include section-text-statement.html
               statement=page.intro %}
  </section>

  <section id="trajectory" class="section theme--default">
    {% include section-timeline.html
               title=page.trajectory
               timeline=page.trajectory.timeline %}
  </section>

  <section id="skills" class="section theme--default">
    {% include section-skills.html
               title=page.skills
               skills=page.skills.categories %}
  </section>

  <section id="my-philosophy" class="section section--large-padding theme--red-lilac-light">
    {% include section-text-split.html
               id='philosophy-body'
               title=page.philosophy.title
               body=page.philosophy.body %}
  </section>

  <section id="projects" class="section theme--default">
    {% include section-card-grid.html
               title=page.projects %}
  </section>

  <section id="fun-facts" class="section theme--default">
    {% include section-text-grid.html
               title=page.facts
               summary=page.facts.content %}
  </section>

  <section id="contact" class="section section--small-padding theme--red-lilac-dark">
    {% include section-contact.html %}
  </section>

  {% include section-footer.html %}
</div>
