---
# Defines the structure of the landing page. Each localisation creates a page that
# uses this layout and sets `language` to load the matching data from _data/<lang>/.

layout: base
---
{% include section-navbar.html %}

<div class="parallax">
  {% include section-home-splash.html %}

  <section id="about" class="section section--regular">
    {% include section-text-block.html
               motto=page.about %}
  </section>
  <section id="trajectory" class="section section--regular">
    {% include section-timeline.html
               title=page.trajectory %}
  </section>
  <section id="skills" class="section section--regular">
    {% include section-skills.html
               title=page.skills
               skills=page.skills.items %}
  </section>

  <section id="my-philosophy" class="section section--accent-a section--border">
    {% include section-text-block.html
               motto=page.my_philosophy %}
  </section>

  <section id="projects" class="section section--regular">
    {% include section-text-grid.html
               title=page.facts
               facts=page.facts.paragraphs
               summary=page.facts.summary %}
    {% include section-card-grid.html
               title=page.projects %}
  </section>

  <section id="contact" class="section section--contact section--border-top section--reduce-padding">
    {% include section-contact.html %}
  </section>

  {% include section-footer.html %}
</div>
